.technical-content {
  .cards {
    grid-template-columns: repeat(1, 1fr);

    .card {
      i {
        font-size: 36px;
      }
    }
  }
}

@media (min-width: 900px) {
  .technical-content {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .technical-content {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
